#set($headerMenu = "admin_user")
#set($sideMenu = "user_index")
<script language="JavaScript">
    var _token = "$formTool.newForm($request)";
</script>
<div class="container">
    <div class="grid fluid">

        <div class="row">
            <div class="span12">
                <nav class="breadcrumbs">
                    <ul>
                        <li><a href="$!homeServer.getURI("admin/user/index.htm")">用户管理</a></li>
                        <li class="active"><a href="#">充值</a></li>
                    </ul>
                </nav>
                <form name="adminChargeForm" action="$!homeServer.getURI("admin/user/doCharge.htm")" method="post">
                    <input  type="hidden" name="_form_token" value="$formTool.newForm($request)" />
                    #springBind("adminChargeForm.userId")
                    <input name="${status.expression}" value="$!status.value" type="hidden">
                    #foreach($error in $status.errorMessages) <b>$error</b>  #end
                    <p>充值账户信息:</p>
                    <table class="table">
                        <tr>
                            <td>登录名</td>
                            <td>
                              $userDO.loginName
                            </td>
                            <td>淘宝昵称</td>
                            <td>
                                $!userDO.taobaoUserNick

                            </td>

                        </tr>
                        <tr>
                            <td>QQ</td>
                            <td>
                                $userDO.qq
                            </td>
                            <td>旺旺</td>
                            <td>
                                $userDO.wangwang
                            </td>


                        </tr>
                        <tr>
                            <td colspan="4">
                                #springBind("adminChargeForm.amount")
                                充值金额(单位:元,精确到元):<input type="text" name="${status.expression}" value="$!status.value">
                                #foreach($error in $status.errorMessages) <b>$error</b>  #end
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"><input type="submit" value="确定"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>


    </div>
</div>

