#set($headerMenu = "buyer_ensure")
#set($sideMenu = "ensure_detail")

<div class="container">
    <div class="grid fluid">
        <div class="row">
        <div class="span2">
            #parse("template/buyer/ensure/sidebar.vm")

        </div>
        <!--/span contain-->
        <div class="span10">

            <div class="row-fluid">

            </div>
        </div>
        <!--/span contain-->
    </div>
        </div></div>