#set($headerMenu = "buyer_user")
#set($sideMenu = "user_account")

<div class="container">
    <div class="grid fluid">
        <div class="row">
            <div class="span2">
                #parse("template/seller/user/sidebar.vm")

            </div>
            <!--/span contain-->
            <div class="span10">
                <nav class="breadcrumbs">
                    <ul>
                        <li><a href="$!homeServer.getURI("seller/user/account.htm")">个人中心</a></li>
                        <li class="active"><a href="#">交易记录</a></li>
                    </ul>
                </nav>

                <div class="row">
                    <p>
                        交易记录:
                    </p>
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th class="text-left">时间</th>
                            <th class="text-left">交易号</th>
                            <th class="text-left">资金变动</th>
                            <th class="text-left">说明</th>
                            <th class="text-left">任务商品名</th>
                            <th class="text-left">任务商品金额</th>


                        </tr>
                        </thead>

                        #foreach($f in $accountDetailVOList)
                            <tr>

                                <td> $dateHelper.formatYMD( $!f.accountDetailDO.gmtCreated )</td>
                                <td> $!f.accountDetailDO.id</td>
                                <td>
                                    #if($!f.accountDetailDO.direction == 1)
                                        +
                                    #else
                                        -
                                    #end $price.formatCNY($!f.accountDetailDO.amount)</td>
                                <td>$!f.accountDetailDO.remark</td>
                                <td>$!f.taskListDO.itemName</td>
                                <td> $price.formatCNY($!f.taskListDO.amountFee)</td>


                            </tr>
                        #end
                    </table>
                    $tile.load('template/common/page.vm').param('query',$query).param('path','seller/user/account/list.htm')
                </div>
            </div>
            <!--/span contain-->
        </div></div></div>