新增

<form name="accountDetailForm" action="$!homeServer.getURI("accountDetail/doCreate.htm")" method="post">
  <table class="table">

	  <tr>
	  <td colspan="2">
	  <input type="submit" class="btn" value="提交"/></td>
	  </tr>
  </table>
</form>