<nav class="sidebar light">
        <ul>
            <li>
                <a href="$homeServer.getURI('seller/user/account.htm')" #if($sideMenu == 'user_account') class="active" #end> <span>我的账户</span></a>
            </li>


        </ul>

</nav>