<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guda.task.dao.TaobaoOrderDOMapper" >
  <resultMap id="BaseResultMap" type="guda.task.dao.domain.TaobaoOrderDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="taobao_user_id" property="taobaoUserId" jdbcType="VARCHAR" />
    <result column="seller_nick" property="sellerNick" jdbcType="VARCHAR" />
    <result column="pic_path" property="picPath" jdbcType="VARCHAR" />
    <result column="payment" property="payment" jdbcType="VARCHAR" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="receiver_state" property="receiverState" jdbcType="VARCHAR" />
    <result column="receiver_address" property="receiverAddress" jdbcType="VARCHAR" />
    <result column="receiver_zip" property="receiverZip" jdbcType="VARCHAR" />
    <result column="receiver_mobile" property="receiverMobile" jdbcType="VARCHAR" />
    <result column="receiver_phone" property="receiverPhone" jdbcType="VARCHAR" />
    <result column="consign_time" property="consignTime" jdbcType="TIMESTAMP" />
    <result column="received_payment" property="receivedPayment" jdbcType="VARCHAR" />
    <result column="tid" property="tid" jdbcType="BIGINT" />
    <result column="num" property="num" jdbcType="BIGINT" />
    <result column="num_iid" property="numIid" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="VARCHAR" />
    <result column="discount_fee" property="discountFee" jdbcType="VARCHAR" />
    <result column="point_fee" property="pointFee" jdbcType="BIGINT" />
    <result column="total_fee" property="totalFee" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="modified" property="modified" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="alipay_id" property="alipayId" jdbcType="BIGINT" />
    <result column="alipay_no" property="alipayNo" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, taobao_user_id, seller_nick, pic_path, payment, receiver_name, receiver_state, 
    receiver_address, receiver_zip, receiver_mobile, receiver_phone, consign_time, received_payment, 
    tid, num, num_iid, status, type, price, discount_fee, point_fee, total_fee, created, 
    pay_time, modified, end_time, alipay_id, alipay_no, gmt_created
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="guda.task.dao.domain.TaobaoOrderDOCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from taobao_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow >= 0" >
      limit ${startRow} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from taobao_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from taobao_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="guda.task.dao.domain.TaobaoOrderDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into taobao_order (taobao_user_id, seller_nick, pic_path, 
      payment, receiver_name, receiver_state, 
      receiver_address, receiver_zip, receiver_mobile, 
      receiver_phone, consign_time, received_payment, 
      tid, num, num_iid, status, 
      type, price, discount_fee, 
      point_fee, total_fee, created, 
      pay_time, modified, end_time, 
      alipay_id, alipay_no, gmt_created
      )
    values (#{taobaoUserId,jdbcType=VARCHAR}, #{sellerNick,jdbcType=VARCHAR}, #{picPath,jdbcType=VARCHAR}, 
      #{payment,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, #{receiverState,jdbcType=VARCHAR}, 
      #{receiverAddress,jdbcType=VARCHAR}, #{receiverZip,jdbcType=VARCHAR}, #{receiverMobile,jdbcType=VARCHAR}, 
      #{receiverPhone,jdbcType=VARCHAR}, #{consignTime,jdbcType=TIMESTAMP}, #{receivedPayment,jdbcType=VARCHAR}, 
      #{tid,jdbcType=BIGINT}, #{num,jdbcType=BIGINT}, #{numIid,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{price,jdbcType=VARCHAR}, #{discountFee,jdbcType=VARCHAR}, 
      #{pointFee,jdbcType=BIGINT}, #{totalFee,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{payTime,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{alipayId,jdbcType=BIGINT}, #{alipayNo,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="guda.task.dao.domain.TaobaoOrderDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into taobao_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taobaoUserId != null" >
        taobao_user_id,
      </if>
      <if test="sellerNick != null" >
        seller_nick,
      </if>
      <if test="picPath != null" >
        pic_path,
      </if>
      <if test="payment != null" >
        payment,
      </if>
      <if test="receiverName != null" >
        receiver_name,
      </if>
      <if test="receiverState != null" >
        receiver_state,
      </if>
      <if test="receiverAddress != null" >
        receiver_address,
      </if>
      <if test="receiverZip != null" >
        receiver_zip,
      </if>
      <if test="receiverMobile != null" >
        receiver_mobile,
      </if>
      <if test="receiverPhone != null" >
        receiver_phone,
      </if>
      <if test="consignTime != null" >
        consign_time,
      </if>
      <if test="receivedPayment != null" >
        received_payment,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="numIid != null" >
        num_iid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="discountFee != null" >
        discount_fee,
      </if>
      <if test="pointFee != null" >
        point_fee,
      </if>
      <if test="totalFee != null" >
        total_fee,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="modified != null" >
        modified,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="alipayId != null" >
        alipay_id,
      </if>
      <if test="alipayNo != null" >
        alipay_no,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taobaoUserId != null" >
        #{taobaoUserId,jdbcType=VARCHAR},
      </if>
      <if test="sellerNick != null" >
        #{sellerNick,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null" >
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null" >
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverState != null" >
        #{receiverState,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null" >
        #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverZip != null" >
        #{receiverZip,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null" >
        #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="consignTime != null" >
        #{consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receivedPayment != null" >
        #{receivedPayment,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=BIGINT},
      </if>
      <if test="num != null" >
        #{num,jdbcType=BIGINT},
      </if>
      <if test="numIid != null" >
        #{numIid,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=VARCHAR},
      </if>
      <if test="discountFee != null" >
        #{discountFee,jdbcType=VARCHAR},
      </if>
      <if test="pointFee != null" >
        #{pointFee,jdbcType=BIGINT},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alipayId != null" >
        #{alipayId,jdbcType=BIGINT},
      </if>
      <if test="alipayNo != null" >
        #{alipayNo,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="guda.task.dao.domain.TaobaoOrderDOCriteria" resultType="java.lang.Integer" >
    select count(*) from taobao_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="guda.task.dao.domain.TaobaoOrderDO" >
    update taobao_order
    <set >
      <if test="taobaoUserId != null" >
        taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR},
      </if>
      <if test="sellerNick != null" >
        seller_nick = #{sellerNick,jdbcType=VARCHAR},
      </if>
      <if test="picPath != null" >
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="payment != null" >
        payment = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="receiverName != null" >
        receiver_name = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverState != null" >
        receiver_state = #{receiverState,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddress != null" >
        receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      </if>
      <if test="receiverZip != null" >
        receiver_zip = #{receiverZip,jdbcType=VARCHAR},
      </if>
      <if test="receiverMobile != null" >
        receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      </if>
      <if test="receiverPhone != null" >
        receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      </if>
      <if test="consignTime != null" >
        consign_time = #{consignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receivedPayment != null" >
        received_payment = #{receivedPayment,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=BIGINT},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=BIGINT},
      </if>
      <if test="numIid != null" >
        num_iid = #{numIid,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=VARCHAR},
      </if>
      <if test="discountFee != null" >
        discount_fee = #{discountFee,jdbcType=VARCHAR},
      </if>
      <if test="pointFee != null" >
        point_fee = #{pointFee,jdbcType=BIGINT},
      </if>
      <if test="totalFee != null" >
        total_fee = #{totalFee,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modified != null" >
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="alipayId != null" >
        alipay_id = #{alipayId,jdbcType=BIGINT},
      </if>
      <if test="alipayNo != null" >
        alipay_no = #{alipayNo,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="guda.task.dao.domain.TaobaoOrderDO" >
    update taobao_order
    set taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR},
      seller_nick = #{sellerNick,jdbcType=VARCHAR},
      pic_path = #{picPath,jdbcType=VARCHAR},
      payment = #{payment,jdbcType=VARCHAR},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_state = #{receiverState,jdbcType=VARCHAR},
      receiver_address = #{receiverAddress,jdbcType=VARCHAR},
      receiver_zip = #{receiverZip,jdbcType=VARCHAR},
      receiver_mobile = #{receiverMobile,jdbcType=VARCHAR},
      receiver_phone = #{receiverPhone,jdbcType=VARCHAR},
      consign_time = #{consignTime,jdbcType=TIMESTAMP},
      received_payment = #{receivedPayment,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=BIGINT},
      num = #{num,jdbcType=BIGINT},
      num_iid = #{numIid,jdbcType=BIGINT},
      status = #{status,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      price = #{price,jdbcType=VARCHAR},
      discount_fee = #{discountFee,jdbcType=VARCHAR},
      point_fee = #{pointFee,jdbcType=BIGINT},
      total_fee = #{totalFee,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      modified = #{modified,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      alipay_id = #{alipayId,jdbcType=BIGINT},
      alipay_no = #{alipayNo,jdbcType=VARCHAR},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>