<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="guda.task.dao.TaobaoSellerDOMapper" >
  <resultMap id="BaseResultMap" type="guda.task.dao.domain.TaobaoSellerDO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="nick" property="nick" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="BIGINT" />
    <result column="score" property="score" jdbcType="BIGINT" />
    <result column="total_num" property="totalNum" jdbcType="BIGINT" />
    <result column="good_num" property="goodNum" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="promoted_type" property="promotedType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="consumer_protection" property="consumerProtection" jdbcType="INTEGER" />
    <result column="is_golden_seller" property="isGoldenSeller" jdbcType="INTEGER" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, nick, sex, level, score, total_num, good_num, type, promoted_type, status, 
    consumer_protection, is_golden_seller, gmt_created
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="guda.task.dao.domain.TaobaoSellerDOCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from taobao_seller
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow >= 0" >
      limit ${startRow} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from taobao_seller
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from taobao_seller
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="guda.task.dao.domain.TaobaoSellerDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into taobao_seller (user_id, nick, sex, 
      level, score, total_num, 
      good_num, type, promoted_type, 
      status, consumer_protection, is_golden_seller, 
      gmt_created)
    values (#{userId,jdbcType=BIGINT}, #{nick,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{level,jdbcType=BIGINT}, #{score,jdbcType=BIGINT}, #{totalNum,jdbcType=BIGINT}, 
      #{goodNum,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{promotedType,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{consumerProtection,jdbcType=INTEGER}, #{isGoldenSeller,jdbcType=INTEGER}, 
      #{gmtCreated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="guda.task.dao.domain.TaobaoSellerDO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into taobao_seller
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="nick != null" >
        nick,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="totalNum != null" >
        total_num,
      </if>
      <if test="goodNum != null" >
        good_num,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="promotedType != null" >
        promoted_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="consumerProtection != null" >
        consumer_protection,
      </if>
      <if test="isGoldenSeller != null" >
        is_golden_seller,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="nick != null" >
        #{nick,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        #{score,jdbcType=BIGINT},
      </if>
      <if test="totalNum != null" >
        #{totalNum,jdbcType=BIGINT},
      </if>
      <if test="goodNum != null" >
        #{goodNum,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="promotedType != null" >
        #{promotedType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="consumerProtection != null" >
        #{consumerProtection,jdbcType=INTEGER},
      </if>
      <if test="isGoldenSeller != null" >
        #{isGoldenSeller,jdbcType=INTEGER},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="guda.task.dao.domain.TaobaoSellerDOCriteria" resultType="java.lang.Integer" >
    select count(*) from taobao_seller
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="guda.task.dao.domain.TaobaoSellerDO" >
    update taobao_seller
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="nick != null" >
        nick = #{nick,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=BIGINT},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=BIGINT},
      </if>
      <if test="totalNum != null" >
        total_num = #{totalNum,jdbcType=BIGINT},
      </if>
      <if test="goodNum != null" >
        good_num = #{goodNum,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="promotedType != null" >
        promoted_type = #{promotedType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="consumerProtection != null" >
        consumer_protection = #{consumerProtection,jdbcType=INTEGER},
      </if>
      <if test="isGoldenSeller != null" >
        is_golden_seller = #{isGoldenSeller,jdbcType=INTEGER},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="guda.task.dao.domain.TaobaoSellerDO" >
    update taobao_seller
    set user_id = #{userId,jdbcType=BIGINT},
      nick = #{nick,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      level = #{level,jdbcType=BIGINT},
      score = #{score,jdbcType=BIGINT},
      total_num = #{totalNum,jdbcType=BIGINT},
      good_num = #{goodNum,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR},
      promoted_type = #{promotedType,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      consumer_protection = #{consumerProtection,jdbcType=INTEGER},
      is_golden_seller = #{isGoldenSeller,jdbcType=INTEGER},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>