<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guda.task.dao.UserDOMapper">
  <resultMap id="BaseResultMap" type="guda.task.dao.domain.UserDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="wangwang" jdbcType="VARCHAR" property="wangwang" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin" />
    <result column="shop_url" jdbcType="VARCHAR" property="shopUrl" />
    <result column="taobao_user_id" jdbcType="VARCHAR" property="taobaoUserId" />
    <result column="taobao_user_nick" jdbcType="VARCHAR" property="taobaoUserNick" />
    <result column="recommend_qq" jdbcType="VARCHAR" property="recommendQq" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, login_name, password, qq, wangwang, mail, phone, user_type, status, last_login, 
    shop_url, taobao_user_id, taobao_user_nick, recommend_qq
  </sql>
  <select id="selectByExample" parameterType="guda.task.dao.domain.UserDOCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="startRow &gt;= 0">
      limit ${startRow} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="guda.task.dao.domain.UserDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user (login_name, password, qq, 
      wangwang, mail, phone, 
      user_type, status, last_login, 
      shop_url, taobao_user_id, taobao_user_nick, 
      recommend_qq)
    values (#{loginName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{wangwang,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{userType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{lastLogin,jdbcType=TIMESTAMP}, 
      #{shopUrl,jdbcType=VARCHAR}, #{taobaoUserId,jdbcType=VARCHAR}, #{taobaoUserNick,jdbcType=VARCHAR}, 
      #{recommendQq,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="guda.task.dao.domain.UserDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loginName != null">
        login_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="wangwang != null">
        wangwang,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="userType != null">
        user_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="lastLogin != null">
        last_login,
      </if>
      <if test="shopUrl != null">
        shop_url,
      </if>
      <if test="taobaoUserId != null">
        taobao_user_id,
      </if>
      <if test="taobaoUserNick != null">
        taobao_user_nick,
      </if>
      <if test="recommendQq != null">
        recommend_qq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loginName != null">
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wangwang != null">
        #{wangwang,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="lastLogin != null">
        #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="shopUrl != null">
        #{shopUrl,jdbcType=VARCHAR},
      </if>
      <if test="taobaoUserId != null">
        #{taobaoUserId,jdbcType=VARCHAR},
      </if>
      <if test="taobaoUserNick != null">
        #{taobaoUserNick,jdbcType=VARCHAR},
      </if>
      <if test="recommendQq != null">
        #{recommendQq,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="guda.task.dao.domain.UserDOCriteria" resultType="java.lang.Integer">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="guda.task.dao.domain.UserDO">
    update user
    <set>
      <if test="loginName != null">
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wangwang != null">
        wangwang = #{wangwang,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="lastLogin != null">
        last_login = #{lastLogin,jdbcType=TIMESTAMP},
      </if>
      <if test="shopUrl != null">
        shop_url = #{shopUrl,jdbcType=VARCHAR},
      </if>
      <if test="taobaoUserId != null">
        taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR},
      </if>
      <if test="taobaoUserNick != null">
        taobao_user_nick = #{taobaoUserNick,jdbcType=VARCHAR},
      </if>
      <if test="recommendQq != null">
        recommend_qq = #{recommendQq,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="guda.task.dao.domain.UserDO">
    update user
    set login_name = #{loginName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      wangwang = #{wangwang,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      last_login = #{lastLogin,jdbcType=TIMESTAMP},
      shop_url = #{shopUrl,jdbcType=VARCHAR},
      taobao_user_id = #{taobaoUserId,jdbcType=VARCHAR},
      taobao_user_nick = #{taobaoUserNick,jdbcType=VARCHAR},
      recommend_qq = #{recommendQq,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>