<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">

    <mvc:annotation-driven></mvc:annotation-driven>

	<context:component-scan base-package="guda.task" />

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean class="guda.task.common.security.DefaultHandlerInterceptorAdapter"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <mvc:resources mapping="/assets/**" location="/assets/" />
    <mvc:resources mapping="/upload/**" location="/upload/" />

	<bean id="gudaPropertyConfigurer"
		class="guda.mvc.spring.GudaPropertyConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="false"></property>
		<property name="fileEncoding" value="UTF-8"></property>
        <property name="locations" value="classpath:app.properties"/>
    </bean>

    <bean id="springBeanFactoryTool"  class="guda.mvc.spring.SpringBeanFactoryTool">
    </bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
		p:basenames="classpath:messages/error/common" p:defaultEncoding="UTF-8"
		p:cacheSeconds="0" />

	<bean id="velocityConfig"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/" />
		<!-- <property name="configLocation" value="classpath*:/spring/velocity.properties" 
			/> -->
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">utf-8</prop>
				<prop key="output.encoding">utf-8</prop>
				<prop key="parser.pool.size">100</prop>
				<prop key="tools.view.servlet.error.template">error.vm</prop>
				<prop key="tools.view.servlet.layout.directory">layout/</prop>
				<prop key="tools.view.servlet.layout.default.template">default.vm</prop>
			</props>
		</property>
	</bean>



    <bean id="filterChainProxy"
          class="guda.mvc.filter.FilterChainProxy" >
        <property name="filterChains">
            <list>
                <ref bean="characterEncodingFilter" />
                <ref bean="authFilter" />
                <ref bean="appContextFilter" />
                <ref bean="securityCheckFilter" />
            </list>
        </property>
    </bean>

    <bean id="characterEncodingFilter" class="org.springframework.web.filter.CharacterEncodingFilter">
        <property name="encoding" value="UTF-8"></property>
    </bean>
    <bean id="authFilter" class="guda.task.web.filter.AuthFilter">
    </bean>
    <bean id="appContextFilter" class="guda.task.web.filter.AppContextFilter">
    </bean>
    <bean id="securityCheckFilter" class="guda.task.web.filter.SecurityCheckFilter">
    </bean>

    <!-- 登陆时验证码的配置 -->
    <bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">
        <property name="config">
            <bean class="com.google.code.kaptcha.util.Config">
                <!--通过构造函数注入属性值 -->
                <constructor-arg type="java.util.Properties">
                    <props>
                        <!-- 验证码宽度 -->
                        <prop key="kaptcha.image.width">150</prop>
                        <!-- 验证码高度 -->
                        <prop key="kaptcha.image.height">60</prop>
                        <!-- 生成验证码内容范围 -->
                        <prop key="kaptcha.textproducer.char.string">abcde2345678gfynmnpwx</prop>
                        <!-- 验证码个数 -->
                        <prop key="kaptcha.textproducer.char.length">5</prop>
                        <!-- 是否有边框 -->
                        <prop key="kaptcha.border">no</prop>
                        <!-- 验证码字体颜色 -->
                        <prop key="kaptcha.textproducer.font.color">red</prop>
                        <!-- 验证码字体大小 -->
                        <prop key="kaptcha.textproducer.font.size">35</prop>
                        <!-- 验证码所属字体样式 -->
                        <prop key="kaptcha.textproducer.font.names">Arial, Courier</prop>
                        <prop key="kaptcha.background.clear.from">white</prop>
                        <prop key="kaptcha.background.clear.to">white</prop>
                        <prop key="kaptcha.obscurificator.impl">com.google.code.kaptcha.impl.ShadowGimpy</prop>
                        <prop key="kaptcha.noise.impl">com.google.code.kaptcha.impl.NoNoise</prop>
                        <!-- 干扰线颜色 -->
                        <prop key="kaptcha.noise.color">red</prop>
                        <!-- 验证码文本字符间距 -->
                        <prop key="kaptcha.textproducer.char.space">4</prop>
                    </props>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="204800"/>
    </bean>

</beans>
