新增

<form name="taobaoShopForm" action="$!homeServer.getURI("taobaoShop/doCreate.htm")" method="post">
  <table class="table">
    #springBind("taobaoShopForm.deliveryScore")
    <tr>
        <td>发货速度评分</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("taobaoShopForm.serviceScore")
    <tr>
        <td>服务态度评分</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("taobaoShopForm.itemScore")
    <tr>
        <td>商品描述评分</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("taobaoShopForm.created")
    <tr>
        <td>店铺创建时间</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("taobaoShopForm.descript")
    <tr>
        <td>店铺公告</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("taobaoShopForm.title")
    <tr>
        <td>店铺标题</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("taobaoShopForm.nick")
    <tr>
        <td>卖家昵称</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("taobaoShopForm.cid")
    <tr>
        <td>店铺所属类目编号</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("taobaoShopForm.shopUrl")
    <tr>
        <td>店铺地址</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("taobaoShopForm.sid")
    <tr>
        <td>店铺ID</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("taobaoShopForm.taobaoUserId")
    <tr>
        <td>淘宝用户ID</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>

	  <tr>
	  <td colspan="2">
	  <input type="submit" class="btn" value="提交"/></td>
	  </tr>
  </table>
</form>