<a  class="btn btn-default"  href="$!homeServer.getURI("taobaoShop/create.htm")" >新建</a>

<table  class="table">
    <thead>
 <tr>
              <th class="text-left">发货速度评分</th>
              <th class="text-left">服务态度评分</th>
              <th class="text-left">商品描述评分</th>
              <th class="text-left">店铺创建时间</th>
              <th class="text-left">店铺公告</th>
              <th class="text-left">店铺标题</th>
              <th class="text-left">卖家昵称</th>
              <th class="text-left">店铺所属类目编号</th>
              <th class="text-left">店铺地址</th>
              <th class="text-left">店铺ID</th>
              <th class="text-left">淘宝用户ID</th>
          <th class="text-left">操作</th>
 </tr>
    </thead>
#foreach($f in $taobaoShopDOList)
  <tr>
               <td> $!f.deliveryScore</td>
               <td> $!f.serviceScore</td>
               <td> $!f.itemScore</td>
               <td> $!f.created</td>
               <td> $!f.descript</td>
               <td> $!f.title</td>
               <td> $!f.nick</td>
               <td> $!f.cid</td>
               <td> $!f.shopUrl</td>
               <td> $!f.sid</td>
               <td> $!f.taobaoUserId</td>
          <td><a href="$!homeServer.getURI("taobaoShop/edit.htm").addQueryData('id',"$!f.id")" >编辑</a></td>
    <td><a href="$!homeServer.getURI("taobaoShop/detail.htm").addQueryData('id',"$!f.id")" >查看详情</a></td>
      <td><a href="$!homeServer.getURI("taobaoShop/doDelete.htm").addQueryData('id',"$!f.id")" onclick="return confirm('确定删除吗?')">删除</a></td>
 </tr>
#end
</table>

$tile.load('home/common/page.vm').param('query',$query).param('path','${doNameLower}/list.htm')