<a  class="btn btn-default"  href="$!homeServer.getURI("userScore/create.htm")" >新建</a>

<table  class="table">
    <thead>
 <tr>
          <th class="text-left">操作</th>
 </tr>
    </thead>
#foreach($f in $userScoreDOList)
  <tr>
          <td><a href="$!homeServer.getURI("userScore/edit.htm").addQueryData('id',"$!f.id")" >编辑</a></td>
    <td><a href="$!homeServer.getURI("userScore/detail.htm").addQueryData('id',"$!f.id")" >查看详情</a></td>
      <td><a href="$!homeServer.getURI("userScore/doDelete.htm").addQueryData('id',"$!f.id")" onclick="return confirm('确定删除吗?')">删除</a></td>
 </tr>
#end
</table>

$tile.load('home/common/page.vm').param('query',$query).param('path','${doNameLower}/list.htm')