#set($layout="template/layout/loginLayout.vm")
<div class="container form-center">

    <div class="row">

        <div class="alert alert-success" role="alert">
            帐号注册成功，请耐心等待审核。
        </div>
    </div>
</div>