编辑

<form name="accountEditForm" action="$!homeServer.getURI("account/doUpdate.htm")" method="post">
  <table class="table">
  #springBind("accountEditForm.id")
  <input type="hidden" name="${status.expression}" value="$!status.value" />
      	  <tr>
	  <td colspan="2">
	  <input type="submit" class="btn" value="提交"/></td>
	  </tr>
  </table>
</form>